.posts-card {
    width: 550px;
    height: 120px;
    border: 1px solid #b7b7b7;
    background-color: whitesmoke;
    margin-top: 30px;
    border-radius: 7px;
    display: flex;
    align-items: center;

    .status {
        text-align: left;
        padding: 20px;
        font-family: system-ui;
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.9);
    }
}