.posts-card {
    width: 550px;
    min-height: auto;
    border: 1px solid #b7b7b7;
    background-color: rgba(255, 255, 255, 0.87);
    margin-top: 30px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    position: relative;

    .user-picture-wrapper {
        display: flex;
        padding: 8px;
        position: relative;

        .action-container {
            position: absolute;
            right: 20px;
            top: 10px;
            display: flex;
            gap: 5px;

            .action-icon {
                cursor: pointer;
                padding: 5px;
            }
        }

        .action-icon:hover {
            background-color: #b7b7b7;
            border-radius: 40%;
        }
    }

    .profile-picture-preview {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .name {
        font-family: system-ui, sans-serif;
        font-size: 18px;
        color: #212121;
        font-weight: 600;
        margin: 0px 0 0 10px;
        cursor: pointer;
    }

    .headline {
        font-family: system-ui, sans-serif;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 500;
        margin: -4px 0 0 10px;
    }

    .timeStamp {
        font-family: system-ui, sans-serif;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 400;
        margin: 0 0 0 10px;
    }

    .status {
        text-align: left;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.9);
        margin: 10px 0 0 10px;
    }

    .post-image {
        margin: 15px 10px;
        cursor: pointer;
    }
}

.modal-post-image {
    width: 80%;
    margin-top: 30px;
}