.profile-card {
    width: auto;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.87);
    margin: 30px;
    border-radius: 5px;
    padding: 20px;
    position: relative;

    .profile-info {
        display: flex;
        justify-content: space-between;

        .profile-picture {
            width: 200px;
            height: 200px;
            object-fit: contain;
            border-radius: 50%;
            padding: 5px;
            border: 2px solid #cacaca;
            cursor: pointer;
        }

        .right-info{
            margin-top: 25px;
            margin-right: 20px;

            .college, .company {
                font-family: system-ui;
                color: rgba(0, 0, 0, 0.9);
                font-size: 14px;
                font-weight: 600;
                line-height: 30px;
            }

            .company {
                margin-top: -15px;
            }
        }
    }

    .website {
        color: #09539d;
    }

    .skill-label {
        font-weight: 600;
    }

    .edit-btn {
        position: absolute;
        right: 20px;

        .edit-icon {
            cursor: pointer;
            height: 30px;
            width: 30px;
            padding: 8px;
        }

        .edit-icon:hover {
            background-color: rgb(230, 230, 230);
            border-radius: 50%;
            padding: 8px;
        }
    }

    .userName{
        font-family: system-ui;
        font-weight: 600px;
        color: rgba(0, 0, 0, 0.9);
        font-size: 24px;
        margin-top: 10px;
    }

    .heading {
        margin-top: -25px;
        font-family: system-ui;
        color: rgba(0, 0, 0, 0.9);
        font-size: 16px;
        font-weight: 600;
        width: 320px;
        line-height: 20px;
    }
}