.like-container {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 10px;
    cursor: pointer;

    p {
        font-family: system-ui;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.835);
        font-size: 14px;
    }
}