.like-comment-container {
    display: flex;
    justify-content: center;

    flex-direction: column;
    gap: 5px;
    padding: 7px 10px;
    margin-bottom: -15px;

    .hr-line {
        margin-top: -10px;
        hr {
            border-top: 1px solid black;
        }
    }

    .like-comment {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    p {
        font-family: system-ui;
        font-weight: 600;
        font-size: 13px;
     }

    .likes-comment-inner {
        display: flex;
        align-items: center;
        margin-top: -10px;
        gap: 5px;
        cursor: pointer;
    }

    .comment-input {
        font-family: system-ui;
        height: 35px;
        background-color: rgb(255, 255, 255);
        padding-left: 7px;
        border-radius: 20px;
        border: 2px solid #777777;
        font-size: 14px;

    }
    .comment-input:focus {
        outline: 1px solid #303030;
        color: black;
    }

    .add-comment-btn {
        width: 150px;
        height: 35px;
        background-color: #0a66c2;
        color: whitesmoke;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        border: 1px solid black;
    }

    .blue {
        color: #0a66c2
    }

}